*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.green-box1{
    background-color:#7ebc12;
    height: 900px;
    position: relative;
}
.logo{
    font-weight:700 ;
    font-size: 44px;
    color: white;
    position: absolute;
    right:1000px;
    /* background-color: aqua; */
    width: 300px;
}
.tabs{
    color: white;
    display: flex;
    padding-top: 6px;
    position: absolute;
    right:-109px
}
.search{
    color: red;
    font-size: larger;
}
.register{
    background-color: red;
    color: white;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 8px;
    margin-left: 15px;
}

.intro{
    color: white;
    /* background-color: aqua; */
    width: 650px;
    margin-top: 220px;
    margin-left: 110px;
}

.H1{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 30px;
 }
 
.pricing-banner {
    /* background-color: #8cc63f; */
    color: white;
    /* padding: 20px; */
    /* border-radius: 10px; */
    /* text-align: center; */
    display: inline-block;
}
.text-starting {
    font-size: 20px;
    margin: 0;

}
.price {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-left: 80px;
}
.per-month {
    font-size: 12px;
}
.start-button{
    display: block;
    background-color: red;
    color: white;
    font-size: 19px;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
}
.IMGG{
    /* background-color: aquamarine; */
    position: absolute;
    right: 110px;
    top: 150px;
}

.img1{
    position: absolute;
    right: 0px;
    top: 0px;
}

.img2{
    position:absolute;
    top: 200px;
    right: 470px;
}

.img3{
    position:absolute;
    top: 220px;
    /* right: 470px; */
}

.img4{
    position:absolute;
    top: 0px;
    right: 700px;
}

.hider-upper{
    /* background-color: aquamarine; */
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.header{
    width: 80%;
    margin: auto;
    /* background-color: cyan; */
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.tab{
    font-size: 20px;
    margin-left: 25px;
    padding-top: 13px;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.hidder img{
    width: 100%;
}

.footer-greenbox{
    background-color: #7ebc12;
    width: 100%;
    height: 800px;
}
    /* FOOTER SUBSCRIPTION */
    .subscribe{
        /* background-color: aqua; */
        width: 700px;
        position: relative;
        bottom: 250px;
        left: 80px;
    }

    .subscribe h2{
        margin-bottom: 30px;
        color: white;
        font-size: 28px;
    }

    .sub-email{
        width: 570px;
        height: 75px;
        padding-left: 15px;
        font-size: 18px;
        border-radius: 10px;
        border: none;
    }
    .sub-submit{
        width: 120px;
        height: 50px;
        border-radius: 10px;
        border: none;
        font-size: 18px;
        background-color: #7ebc12;
        color: white;
        position: relative;
        right: 134px;
    }

.footer-blocks{
    background-color: red;
    width: 66%;
    display: flex;
    padding: 0px 50px;
}

.footer-about-us{
    background-color: aquamarine;
    width: 30%;
}

.footer-our-services{
    background-color: beige;
}

.footer-touch{
    background-color: blueviolet;
}

.message{
    background-color: #f2f2f2;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    top: 300px;
    right: 100px;
}

.msg-input{
    width: 100%;
    height: 21%;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 20px;
}

.send-message{
    width: 100%;
    height: 22%;
    border: none;
    background-color: #7ebc12;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.footer-divider{
    position: absolute;
    bottom: 100px;
    left: 5%;
    width: 90%;
    height: 2px;
    background-color: #f2f2f2;
    
}

.footer-foot{
    /* background-color: chocolate; */
    height: 80px;
    align-items: center;
    padding: 0px 50px;
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.shortcuts{
    display: flex;
}

.foot-button{
    margin: 0px 15px;
}
/* PART2 */
.world{
    background-image: url(./images/bg-domain.png);
    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-size:60%;
    background-position: center;
    padding: 190px;
}

.HH{
    text-align: center;
}

.H2{
    /* background-color: aqua; */
    margin-top: -180px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 48px;
}

.P_shearch{
    /* background-color: aqua; */
    color: gray;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.k{
    width: 100px;
    margin: auto;
    margin-bottom: 10px;
}

.k1{
    width: 70px;
    margin: auto;
    margin-bottom: 10px;
}
/* TKHARBI9a */
        .k1{
            width: 70px;
            margin: auto;
            margin-bottom: 10px;
        }

        .k1{
            width: 70px;
            margin: auto;
            margin-bottom: 10px;
            color: #7ebc12;
        }

        .k2{
            width: 100px;
            margin: auto;
            margin-bottom: 30px;
        }

        .HHinput{
            border-radius: 5px;
            border-collapse: collapse;
            border-top: ;
            left: 45%;
            margin-bottom: 30px;

        }

